.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    margin: 40px auto;
    box-shadow: 0 4px 8px ;
}

  h3 {
    margin-bottom: 20px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  label {
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
  }

  input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    outline: none;
  }

  input:focus {
    border-color: #007bff;
  }

  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
  }

  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  button:hover:not(:disabled) {
    background-color: #0056b3;
  }