.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 40px;
  margin: 40px auto;
}
